+++json
{
  "title": "About me",
  "description": "A little bit about me",
  "created": "2024-01-01",
  "updated": "2024-01-01",
  "status": "published",
  "cover": "{% imageUrl "./cover.jpg" %}"
}
+++

<p>I am a person that writes stuff.</p>
